<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" >
    <div class="bg-white relative rounded p-6">
      <div class="form-group absolute top-7 right-7">
        <button class="close-button font-bold" (click)="close()">X</button>
      </div>

      <h2 class="text-2xl font-bold mb-4">Rate Movie</h2>
  
      <div class="mb-4">
        <label class="font-semibold">Rating:</label>
        <div class="flex gap-2">
          <button [class.selected]="rating === true" (click)="rating = true" title="Thumbs Up" class="p-2 border border-gray-300 rounded">
            👍
          </button>
          <button [class.selected]="rating === false" (click)="rating = false" title="Thumbs Down" class="p-2 border border-gray-300 rounded">
            👎
          </button>
        </div>
      </div>
  
      <div class="mb-4">
        <label for="comment" class="font-semibold">Comment:</label>
        <textarea required [(ngModel)]="comment" name="comment" id="comment" rows="4" class="w-full p-2 border border-gray-300 rounded"></textarea>
      </div>
  
      <div class="flex justify-end">
        <button (click)="submitRating()" class="px-4 py-2 bg-blue-500 text-white rounded">Submit</button>
      </div>
    </div>
  </div>